 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-group-1 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 113px;
  margin: 67px auto 0 35px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  margin: 6px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  margin: -28px 9px 0 58px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  width: 199px;
  font-family: Candal;
  margin: 6px auto 0;
}

.u-section-1 .u-group-2 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 115px;
  margin: -115px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px;
}

.u-section-1 .u-icon-2 {
  width: 34px;
  height: 34px;
  margin: 6px auto 0 34px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -28px 21px 0 47px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  width: 199px;
  font-family: Candal;
  margin: 6px auto 0;
}

.u-section-1 .u-group-3 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 115px;
  margin: -115px 34px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px;
}

.u-section-1 .u-icon-3 {
  width: 34px;
  height: 34px;
  margin: 6px auto 0 45px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: -28px 21px 0 47px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  width: 199px;
  font-family: Candal;
  margin: 6px auto 0;
}

.u-section-1 .u-group-4 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 115px;
  margin: 57px auto 0 34px;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px;
}

.u-section-1 .u-icon-4 {
  width: 34px;
  height: 34px;
  margin: 6px auto 0 47px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: -28px 21px 0 47px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  width: 199px;
  margin: 20px auto 0;
}

.u-section-1 .u-group-5 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 131px;
  margin: -125px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 13px;
}

.u-section-1 .u-icon-5 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 20px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -22px 21px 0 47px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 4px 0 0;
}

.u-section-1 .u-group-6 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 131px;
  margin: -131px 34px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 13px;
}

.u-section-1 .u-icon-6 {
  width: 34px;
  height: 34px;
  margin: 0 auto 0 47px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: -25px 18px 0 50px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-1 .u-group-7 {
  width: 293px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 125px;
  margin: 57px auto 0 143px;
}

.u-section-1 .u-container-layout-7 {
  padding: 13px;
}

.u-section-1 .u-icon-7 {
  width: 34px;
  height: 34px;
  margin: 6px auto 0 37px;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: -28px 12px 0 55px;
}

.u-section-1 .u-text-14 {
  font-size: 0.875rem;
  margin: 13px 0 0;
}

.u-section-1 .u-group-8 {
  width: 472px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 134px;
  margin: -125px 125px 60px auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-icon-8 {
  width: 34px;
  height: 34px;
  margin: 19px auto 0 130px;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: -28px 22px 0 45px;
}

.u-section-1 .u-text-16 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    width: 199px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-12 {
    width: 199px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    width: 199px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-16 {
    width: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 68px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-7 {
    margin-left: 47px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-8 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }
}