 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/C_TDtVeUwAALBCr.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px 0 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-tabs-1 {
  min-height: 408px;
  height: auto;
  margin-top: 9px;
  margin-bottom: 60px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  margin: 44px auto 0 4px;
}

.u-section-1 .u-table-1 {
  margin: 18px 30px 0;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -93px 143px 0 auto;
  padding: 10px 17px;
}

.u-section-1 .u-shape-1 {
  width: 72px;
  height: 42px;
  --radius: 50px;
  background-image: none;
  margin: -42px 60px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -37px 79px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 10px 143px 0 auto;
  padding: 10px 17px;
}

.u-section-1 .u-shape-2 {
  width: 72px;
  height: 42px;
  --radius: 50px;
  background-image: none;
  margin: -42px 60px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -37px 79px 0 auto;
  padding: 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-table-2 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 132px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: -92px;
  }
}